@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

@mixin breakpoint($point) {
  @if $point == xs {
    @media (max-width: 300px) {
      @content ;
    }
  } @else if $point == sm {
    @media (max-width: 576px) {
      @content ;
    }
  } @else if $point == md {
    @media (max-width: 768px) {
      @content ;
    }
  } @else if $point == lg {
    @media (max-width: 992px) {
      @content ;
    }
  } @else if $point == xl {
    @media (max-width: 1200px) {
      @content ;
    }

  } @else if $point == xxl {
    @media (max-width: 1400px) {
      @content ;
    }
  }
}