$black: black;
$white: white;
$silver: #ccc;
$gray: #8492a6;
$gray-light: #d3dce6;
$gray-dark: #273444;

$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
);
$spacings: (
        margin: 'm',
        padding: 'p'
);

$containers: (
        sm: 480px,
        md: 768px,
        lg: 976px,
        xl: 1440px,
);

$border-radius: 0.2rem;