.accordion {
  width: 100%;
  color: $white;
  overflow: hidden;
  border-radius: $border-radius;

  .tab {
    width: 100%;
    color:$white;
    overflow: hidden;

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }

    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: $gray;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background: darken($gray, 10%);
      }

      &::after {
        content: "+";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .24s ease-in-out;
      }
    }

    &-content {
      max-height: 0;
      padding: 0 1em;
      color: $gray;
      background: $white;
      transition: all .35s;

      ul {
        @include breakpoint(sm) {
         padding-left:1.0rem;
        }
      }
    }

    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      background: $gray;
      cursor: pointer;

      &:hover {
        background: darken($gray, 10%);
      }
    }
  }

  input:checked {
    + .tab-label {
      background: darken($gray, 10%);
      &::after {
        content: "\2212";
      }
    }
    ~ .tab-content {
      max-height: 300vh;
      padding: 1em;
    }
  }
}
