.btn {
  position: relative;
  background-color: black;
  border-radius: $border-radius;
  border:none;
  color:white;
  line-height: 1;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding:0.4rem 0.75rem 0.4rem;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  transition: all 0.2s cubic-bezier(.17,.67,.83,.67);
  -webkit-appearance: none;


  span {
    position: relative;
    display:  inline-block;
    z-index: 2;
  }

  .icon {
    position: relative;
    z-index: 2;
    width:31px;
    height:18px;
    vertical-align: middle;
    transition: all 0.2s cubic-bezier(.17,.67,.83,.67);
  }


  &-sm {
    padding: 0.35rem 0.55rem 0.20rem;
    font-size: 0.85rem;
  }

  &-lg {
    padding: 0.8rem 1.25rem 0.8rem;
    font-size: 1.2rem;
  }
}