.d- {
  &flex {
    display: flex;
  }

  &none {
    display: none;
  }

  &block {
    display: block;
  }

  &inline-block {
    display: inline;
  }
}

.visibility- {
  &visible {
    visibility: visible;
  }

  &hidden {
    visibility: hidden;
  }
}


[hidden] {
  display: none !important;
}
