.align-content- {
  &center {
    align-content: center;
  }

  &between {
    align-content: space-between;
  }
}

.align-items- {
  &start {
    align-items: flex-start;
  }

  &center {
    align-items: center;
  }

  &end {
    align-items: flex-end;
  }
}

.justify-content- {
  &start {
    justify-content: start;
  }

  &center {
    justify-content: center;
  }

  &between {
    justify-content: space-between;
  }

  &end {
    justify-content: end;
  }
}

.flex- {
  &column {
    flex-direction: column;
  }

  &wrap {
    flex-wrap: wrap;
  }

  &1 {
    flex: 0 0 100%;
  }

  &2 {
    flex: 0 0 50%;
  }

  &3 {
    flex: 0 0 32%;
  }

  &4 {
    flex: 0 0 25%;
  }
}