.form-group {
  .form-control {
    border: 1px solid $gray;
    border-radius: 3px;
    display: block;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0.4rem 0.5rem;
    transition: all 0.2s ease-in-out;
    width: 100%;

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgb($gray, 0.2);
      border: 1px solid $gray;
      outline: 0;
    }
  }

  .invalid-feedback {
    font-size: small;
    color: red;
    margin-top: 2px;
  }
}

.form-group {
  .form-control {
    border: 1px solid $gray;
    border-radius: 3px;
    display: block;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0.4rem 0.5rem;
    transition: all 0.2s ease-in-out;
    width: 100%;

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgb($gray, 0.2);
      border: 1px solid $gray;
      outline: 0;
    }
  }

  .invalid-feedback {
    font-size: small;
    color: red;
    margin-top: 2px;
  }
}


.custom-checkbox,
.custom-radio {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  font-size: inherit;
  user-select: none;
  line-height: 1;

  a {
    color:$gray;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: $gray;
      &:after {
        display: block;
      }
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $black;
    border: 1px solid transparent;
    border-radius: 3px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
  &:hover input ~ .checkmark {

  }
}

.custom-radio {
  .checkmark {
    border-radius: 12px;

    &:after {
      top: 8px;
      left: 8px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
  }
}