#menu {
  top:0;
  left:0;
  background-color: $black;
  color:$white;
  z-index: 98;
  display: none;

  .menu-open & {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      user-select: none;
      a {
        display: block;
        color:$white;
        text-decoration: none;
        transition: all 0.24s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}