.modal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &.modal-hidden {
    display: none;
  }

  &.modal-center {
    align-items: center;
  }

  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .modal-content {
    position: relative;
    width: 100%;
    margin: 1rem;
    max-height: 60vh;
    overflow: auto;
    background-color: white;
    border-radius: $border-radius;
    padding:2.0rem;
    

    @include breakpoint(md) {
      padding:1.0rem;
    }
    
    @include breakpoint(sm) {
      max-height: 95vh;
    }
  

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .modal-close {
        cursor: pointer;
      }
    }
    .modal-body {
      padding:1.0rem 0;
    }
  }
}

.modal-open {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}