nav#main {
  top:0;
  z-index: 100;
  .branding {
    position: relative;
    z-index: 100;

    .logo {
      width: 170px;
      height: 40px;
    }
  }


  .menu-toggle {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: transparent;
    z-index: 99;

    span {
      position: relative;
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 2px;
      background-color: $white;
      transition: all 0.1s ease-in-out;

      &:nth-child(1) {
        .menu-open & {
          display: none;
        }
      }

      &:nth-child(2) {
        top: 8px;

        .menu-open & {
          top: 11px;
          transform: rotate(-45deg);
        }
      }

      &:nth-child(3) {
        top: 16px;

        .menu-open & {
          top: 6px;
          transform: rotate(45deg);
        }
      }
    }
  }
}
