.overflow- {
  &hidden {
    overflow: hidden;
  }

  &x-hidden {
    overflow-x: hidden;
  }

  &y-hidden {
    overflow-y: hidden;
  }

  &auto {
    overflow:auto;
  }

  &unset {
    overflow:unset;
  }
}