.preloader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 8px solid rgba($black,.3);
  border-radius: 50%;
  border-top-color: $black;
  animation: spin 1s ease-in-out infinite;
  top:40%;
  left: 50%;
  position: absolute;
  margin:-20px 0 0 -20px;
}
