@each $i, $space in $spacers {
  @each $name, $s in $spacings {
    .#{$s}b-, .#{$s}y- {
      &#{$i} {
        #{$name}-bottom: $space !important;
      }
    }
    .#{$s}t-, .#{$s}y- {
      &#{$i} {
        #{$name}-top: $space !important;
      }
    }
    .#{$s}s-, .#{$s}x- {
      &#{$i} {
        #{$name}-left: $space !important;
      }
    }
    .#{$s}e-, .#{$s}x- {
      &#{$i} {
        #{$name}-right: $space !important;
      }
    }
  }
}

.mt-auto, .my-auto {
  margin-top: auto !important;
}

.mx-auto {
  margin: 0 auto;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}