.text- {
  &center {
    text-align: center;
  }

  &start {
    text-align: left;
  }

  &end {
    text-align: right;
  }
}

.text-{
  &sm {
    font-size: .8rem;
  }
  &lg {
    font-size: 1.4rem;
  }
}

.text- {
  &uppercase {
    text-transform: uppercase;
  }
  &lowercase {
    text-transform: lowercase;
  }
  &bold {
    font-weight: bold;
  }
  &regular {
    font-weight: 300;
  }
  &decoration-none {
    text-decoration: none;
  }
}